/* Basic Grid Example */

.wrapper {
  border: 1px solid black;
  height: 50px;
  padding: 5px;
  display: grid;
  gap: 10px;
}

.col-1 {
  background-color: red;
  grid-column: 1/2;
}

.col-2 {
  background-color: blue;
  grid-column: 2/3;
}

.col-3 {
  background-color: green;
  grid-column: 3/4;
}

.col-4 {
  background-color: yellow;
  grid-column: 4/5;
}

/* Page Layout Example */

.page-wrapper {
  border: 1px solid black;
  height: 200px;
  padding: 5px;
  display: grid;
  gap: 10px;
}

.header {
  background-color: red;
  grid-column: 1/12;
  grid-row: 1/2;
}

.side-menu {
  background-color: blue;
  grid-column: 1/4;
  grid-row: 2/6;
}

.content-1 {
  background-color: green;
  grid-column: 4/10;
  grid-row: 2/5;
}

.content-2 {
  background-color: yellow;
  grid-column: 10/12;
  grid-row: 2/5;
}

.content-3 {
  background-color: cyan;
  grid-column: 4/12;
  grid-row: 5/6;
}

.footer {
  background-color: grey;
  grid-column: 1/12;
  grid-row: 6/7;
}
